<div class="container body-content">
    <h1>@ViewBag.title</h1>
    <h2 class="centered">View Jobs By Category</h2>
</div>

<table class="table table-bordered">
    <tr>
        <thead class="thead-dark">
            @foreach (var column in ViewBag.columns)
            {
                @if (column.Key != "all")
                {
                <th>@column.Value</th>
                }
            }
        </thead>
    </tr>
        <tr>
            @foreach (var category in ViewBag.tableChoices)
            {
                <td>
                    @if (category == "employer")
                    {
                        @foreach (var item in ViewBag.employers)
                        {
                            <a class="btn btn-secondary mt-1" asp-controller="List" asp-action="Jobs" asp-route-column="@category" asp-route-value="@item.Name">@item.Name</a>
                                
                        }
                    }
                    else
                    {
                        @foreach (var item in ViewBag.skills)
                        {
                            <a class="btn btn-secondary mt-1" asp-controller="List" asp-action="Jobs" asp-route-column="@category" asp-route-value="@item.Name">@item.Name</a>
                        }
                    }
                </td>
            }
        </tr>
    </table>
