<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Employer</th>
                <th>Skills</th>
            </tr>
        </thead>
        @foreach (var job in ViewBag.jobs)
        {
            <tr>
                <td><a class="btn btn-block shadow-none text-left" asp-controller="Home" asp-action="Detail" asp-route-id="@job.JobId">@job.JobId</a></td>
                <td><a class="btn btn-block shadow-none text-left" asp-controller="Home" asp-action="Detail" asp-route-id="@job.JobId">@job.Name</a></td>
                <td><a class="btn btn-block shadow-none text-left" asp-controller="Home" asp-action="Detail" asp-route-id="@job.JobId">@job.EmployerName</a></td>
                <td><a class="btn btn-block shadow-none text-left" asp-controller="Home" asp-action="Detail" asp-route-id="@job.JobId">@job.SkillText</a></td>
            </tr>
        }
    </table>

</div>
