@{
    ViewData["Title"] = "Home Page";
}

@model List<TechJobsPersistent.Models.Job>

<div class="text-center">
    <h1 class="display-4">Welcome to TechJobs!</h1>
</div>

@if (Model.Count == 0)
{
    <p>No jobs yet!</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th><a asp-controller="Home" asp-action="Index" asp-route-sort="Employer" style="color:@(ViewBag.Sort == "Employer"?"lightblue;":"white;")">Employer</a></th>
                <th><a asp-controller="Home" asp-action="Index" asp-route-sort="Location" style="color:@(ViewBag.Sort == "Location"?"lightblue;":"white;")">Location</a></th>
                <th><a asp-controller="Home" asp-action="Index" style="color:@(ViewBag.Sort == null?"lightblue;":"white;")">Job</a></th>
            </tr>
        </thead>
        <tbody>
        @foreach (Job job in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-block shadow-none text-left" asp-controller="Home" asp-action="Detail" asp-route-id="@job.Id">@job.Employer.Name</a>
                </td>
                <td>
                    <a class="btn btn-block shadow-none text-left" asp-controller="Home" asp-action="Detail" asp-route-id="@job.Id">@job.Employer.Location</a>
                </td>
                <td>
                    <a class="btn btn-block btn-link shadow-none text-left" asp-controller="Home" asp-action="Detail" asp-route-id="@job.Id">@job.Name</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}